<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <ul class="list-group" *ngIf="villes">
        <li
          [ngClass]="v == currentVille ? 'active' : ''"
          class="list-group-item clickable"
          *ngFor="let v of villes._embedded.villes"
          (click)="onGetCinemas(v)"
        >
          {{ v.name }}
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <div class="card card-default">
        <div class="card-header">Liste des cinemas</div>
        <div class="card-body">
          <ul *ngIf="cinemas" class="nav nav-pills">
            <li *ngFor="let c of cinemas._embedded.cinemas" class="nav-item clickable">
              <a [ngClass]="c==currentCinema?'active':''" class="nav-link" (click)="onGetSalles(c)">{{c.name}}</a>
            </li>
          </ul>
          <div class="row" *ngIf="salles">
            <div *ngFor="let s of salles._embedded.salles" class="col-md-6">
              <div class="card card-default" *ngIf="s.projections">
                <div class="card-header">
                  {{ s.name }} :
                  <h5>
                    {{ s.projections._embedded.projections[0].film.titre }}
                  </h5>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-5">
                      <img
                        src="{{host +'/imageFilm/' + s.projections._embedded.projections[0].film.id }}"
                        alt="pas d'image non plus"/>
                    </div>
                    <div class="col-md-7">
                      <ul class="list-group">
                        <li class="list-group-item">Séances</li>
                        <li
                          [ngClass]="proj == currentProjection ? 'active' : ''"
                          (click)="onGetTicketsPlaces(proj)"
                          class="list-group-item clickable"
                          *ngFor="let proj of s.projections._embedded.projections">
                            {{ proj.seance.heureDebut | date: "H:mm" }} => Prix:
                            {{ proj.prix | number: "0.00" }}€
                        </li>
                      </ul>
                    </div>
                    <div *ngIf="currentProjection">
                      <div *ngIf="currentProjection.salle.id == s.id">
                        <div class="row" *ngIf="currentProjection.tickets">
                         <button
                            class="{{ getTicketClass(t) }} btn"
                            (click)="onSelectTicket(t)"
                            [disabled]="t.reserve == true"
                            *ngFor=" let t of currentProjection.tickets._embedded.tickets " >
                            {{t.place.numero}}
                          </button>
                        </div>
                         <div *ngIf="selectedTickets.length > 0">
                          <form  #f="ngForm" (ngSubmit)="onPayerTickets(f.value)">
                            <div class="form-group">
                              <label class="control-label">Nom Client</label>
                              <input class="form-control" type="text" name="nomClient" ngModel>
                            </div>
                            <div class="form-group">
                              <label class="control-label">Code Paiement</label>
                              <input class="form-control" type="text" name="codePayement" ngModel>
                            </div>
                            <button type="submit" class="btn btn-success">Payer</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
